/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $bonmoon;
  font-size: $type-size-5;
  border-collapse: collapse;
  overflow-x: auto;
  //border: 1px solid mix(#000, $border-color, 25%);

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: lighten($border-color, 3%);
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: center;
  border-right: 1px solid mix(#000, $border-color, 25%);
}

td {
  padding: 0.3em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
  border-right: 1px solid mix(#000, $border-color, 25%);
  text-align: center;
}

tr,
td,
th {
  vertical-align: middle;
}

tr td:last-child,
tr th:last-child {
  border-right: none;
}

tr:hover {
  background-color: lighten($border-color, 4%);
}